* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}

html,
body {
  width: 100%;
  min-height: 100%;
}

.cflex {
  display: flex;
  align-items: center;
  justify-content: center;
}
